* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
    line-height: 1.5;
}
#welcome {
    padding: 10px;
    
}
h2 {
    text-align: center;
    padding: 30px;
    font-size: 50px;
}
#welcome p {
    text-align: center;
    color: gray;
    padding: 10px 300px;
}
#aboutus {
    display: block;
    margin: 0 auto;
}

#what-we-do {
    padding: 100px;
    padding-top: 0;
    text-align: center;
}
#activities {
    display: flex;
    flex-wrap: wrap;
}
#what-we-do .item {
    width: 25%;
}
h5 {
    text-align: center;
    color: black;
}
.dog {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}
.item p {
    color: gray;
    text-align: center;
}

header {
    background: url(./img/1.jpg);
    height: 100vh;
    position: relative;
    
}
.navlink a {
    transition: all 0.2s;
    text-decoration: none;
    color: white;
    padding: 20px;
}
.navlink a:hover {
    background-color: white;
    color: black;
    border-radius: 7%;
}
div {
    color: white;
}
#nav {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
#pagename {
    font-weight: bolder;
    font-size: xx-large;
}
#main-header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#main-header h1 {
    font-weight: bold;
    font-size: 300%;
}
#main-header p {
    margin-bottom: 60px;
    font-weight: bold;
}
#more {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    padding: 2%;
    border-radius: 7%;
}

#statistics {
    background: url(./img/bg.jpg);
    position: relative;
    color: white;
    text-align: center;
    padding: 2%;
}
#number {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; 
    margin: 5%;
}
.data {
    font-size: 300%;
}


#services {
    display: grid;
    grid-template-columns: 40% 60%;
    padding: 80px;
}
#services h2, h3 {
    color: black;
}
#services p {
    color: gray;
}
#right {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    justify-content: space-around;
    align-content: center;
}
#services .item {
    width: 80%;
}
#services .item {
    transition: all 0.5s;
    margin-right: 2%;
    margin-bottom: 3%;
    padding: 10px;
    float: left;
    text-align: center;
    background: #fff;
    border-radius: 4px;
    box-shadow: 7px 7px 10px 0 rgb(76 110 245 / 10%);
}
#services .item i {
    color: orange;
    font-size: 30px;
}

#testimonials {
    background-image: url(./img/bg.jpg);
    background-size: cover;
    color: #fff;  
}
#testiBox {
    display: flex;
    margin: 0 10%;
    justify-content: space-around;
}
#testiBox .item {
    text-align: center;
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    width: 30%;
}
#testiBox img {
    border-radius: 50%;
}
#testiBox p {
    color:#fff;
}
#testiBox h3 {
    color: #ff9900;
}

#ourBlog {
    padding: 100px;
}
.ourBlog {
    display: flex;
    justify-content: space-around;
}
.blog-item {
    width: 30%;
}
.blog-item img {
    width: 100%;
}
.blog-item .bottom {
    margin-top: -7px;
    padding: 16px;
    border-radius: 1%;
    border: solid 1px rgb(219, 219, 219);
}
.blog-item p {
    color: gray;
}
a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.blog-item .more {
    color: #ff9900;
    font-weight: 700;
}
.blog-item:last-child {
    padding: 20px;
    border: solid 1px rgb(219, 219, 219);
    box-shadow: 0px 3px 10px 1px rgb(45 45 45 / 8%);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: flex-start;
}
.blog-item .itemDate {
    color: #ff9900;
}
